.section-four {
    min-height: 60vh;
    background: #000;
    background: -webkit-linear-gradient(top, hsla(240, 100%, 50%, 0.308), hsla(240, 100%, 50%, 0.281)), url(https://images.pexels.com/photos/3848893/pexels-photo-3848893.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    i {
        font-size: 3em;
        padding: 15px;
    }
}
.four-big {
    margin-bottom: 20px;
}