/*----------COLORS-----------------*/
$color-main: #4E94D4;
$color-grey: #A0A1A1;
$color-dark: #000;
$color-white: #fff;
$color-transparent-1: hsla(0, 0%, 0%, 0.527);
$color-transparent-2: rgba(0, 0, 0, 0.863);
/*---------------------------------*/

/*----------COLORS OF NETWORK-----------------*/
$color-facebook: #1F75F5;
$color-twitter: #17A9E5;
$color-google: #E52A17;
$color-linkedin: #1757E5;
$color-world: #E217E5;
/*---------------------------------*/


/*----------FONT SIZE-----------------*/
$font-header-head-first: 11px;
$font-header-head-second: 10px

/*---------------------------------*/
